.one{
    height: 100vh;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.video_player{
    position: fixed;
    top: 0vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
    clip-path: circle(0% at center center); 
}

.video{
    width: 100%;
}

.play_button{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    background: transparent;
    color: white;
}

.play_button:focus {
    outline: none;
  }

.player_controls{
    position: absolute;
    bottom: 10vh;
    height: 10vh;
    width: 100%;
    transform: translateY(100%) translateY(-5px);
    transition: 0.3s;
    flex-wrap: wrap;
}

.video_player:hover .player_controls {
    transform: translateY(0);
}

.video_progress {
    display: flex;
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: rgb(191, 191, 191);
}

.video_progress_filled {
    width: 100%;
    background: white;
}

.next{
    position: relative;
    margin-top: 100vh;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.trigger_div{
    color: white;
    width: 100%;
    height: 20vh;
}

.content{
    position: relative;
    top: 40vh;
    height: 40vh;
    width: 70vw;
}

.c_in{
    position: fixed;
    top: 10vh;
}

.circle1{
    position: relative;
    width: 80vh;
    height: 80vh;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}

.circle2{
    position: absolute;
    top: 10vh;
    left: 10vh;
    width: 60vh;
    height: 60vh;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}

.circle3{
    position: absolute;
    top: 14vh;
    left: 14vh;
    width: 32vh;
    height: 32vh;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}

.circle4{
    position: absolute;
    top: 6vh;
    left: 6vh;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}